.card-movie {
    background-color: #6C6C6C;
    width: 300px;
    min-height: 322px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 4px;
    padding: 25px 0px;
}

.card-movie img {
    width: 100%;
    max-width: 610px;
    height: 100%;
    max-height: 382px;
}

.card-movie h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -1.5%;
}

.card-movie h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1.5%;
    color: #FFC700;
    ;
}

.card-movie p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1.5%;
}

.card-movie .card-movie-base {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.card-movie-sinopse {
    width: 100%;
    background-color: unset;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #E1E1E1;
    color: #9E9E9E;
}