$theme-colors: (
  'primary': #FFC700,
  'secondary': #000000,
  'tertiary': #9E9E9E,
  'danger': #FF5555
);

$body-bg: #525252;
$body-color: #FFFFFF;
$paragraph-margin-bottom: 0px;
$headings-margin-bottom: 0px;

@import '~bootstrap/scss/bootstrap.scss';